NEXT_PUBLIC_SITE_URL=http://localhost:3000
POSTGRES_URL=
BLOB_READ_WRITE_TOKEN=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=
VERCEL_DEPLOY_HOOK_URL=
